# 忽略所有子项目的 vendor 目录
**/vendor/

# 忽略所有子项目的环境变量文件
**/.env

# 忽略所有子项目的日志
**/*.log
**/storage/
**/runtime/

# 忽略 Node.js 相关
**/node_modules/

# 忽略 IDE 配置
**/.idea/
**/.vscode/

# 忽略 PHPStorm 的 `.iml` 文件
**/*.iml
